# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/pubspec.lock

# Next.js
webstore/.next/
webstore/node_modules/
webstore/.env
webstore/.env.local
webstore/.env*.local

# General
.DS_Store
*.log
.gstack/
